    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <nav>
                    <ul class="sf-menu">
                        <li <% if controller.controller_name == "pages"%> class="current" <% end %>><%= link_to "Home", root_url %></li>
                        <li><a href="index-1.html">About the house</a>
                            <ul>
                                <li><a href="#">Gardens</a></li>
                                <li><a href="#">Gypsie caravane</a></li>
                                <li><a href="#">Around here</a>
                                    <ul>
                                        <li><a href="#">Lassay les chateaux</a></li>
                                        <li><a href="#">Bagnoles de L'ornes</a></li>
                                    </ul>
                                </li>
                           </ul>
                        </li>
                        <li <% if controller.controller_name == "calendar" %> class="current" <% end %>><%= link_to "Rates", calendar_path %></li>
                        <li <% if controller.controller_name == "booking"%> class="current" <% end %>><%= link_to "Inquiries", inquiries_path %></li>
			<li <% if controller.controller_name == "rooms"%> class="current" <% end %>><%= link_to "Rooms", rooms_path %></li>
                        <li <% if controller.controller_name == "contact_us"%> class="current" <% end %>><%= link_to "Contact",  contact_us_index_path  %></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  
    <%= yield :header_banner %>   
