    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <nav>
                    <ul class="sf-menu">
                        <li <% if controller.controller_name == "homepage" %> class="current" <% end %>><%= link_to "Home", root_url %></li>
                
<li> <a href="#">Publication</a>
  <ul>
<% @documents = Document.find(:all) %>
<% @documents.each do |p| %>
   <li <% if controller.controller_name == "documents" %> class="current" <% end %>><%= link_to p.name, document_path(p.slug)%></li>
<% end %> 
  </ul>
</li>
                        <li <% if controller.controller_name == "calendar" %> class="current" <% end %>><%= link_to "Rates", calendar_path %></li>
                        <li <% if controller.controller_name == "booking"%> class="current" <% end %>><%= link_to "Inquiries", inquiries_path %></li>
			<li <% if controller.controller_name == "rooms"%> class="current" <% end %>><%= link_to "Rooms", rooms_path %></li>
                        <li <% if controller.controller_name == "contact_us"%> class="current" <% end %>><%= link_to "Contact",  contact_us_path  %></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  
    <%= yield :header_banner %>   
