

    <div class="slider clearfix">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <%=raw slider(@sliders); %>

        </div>
    </div>
    <div class="bord-1">
        <div class="container_12">
            <div class="row">
                <div class="grid_12 bord-2">
                    <div class="title-1">Welcome</div>
                    <h2>We offer you the best hotel with an impressive history</h2>
                    <div class="text-1">Maecenas tristique orci ac sem. Duis ultricies pharetra magna donec accumsan malesuada orci donec sit amet eros sed laoreet 
                    aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_12">
        <div class="row">
            <div class="grid_4 box-1">
                <div class="img-bord"><%= image_tag('page-1_img-1.jpg'); %></div>
                <div class="title-2">hotel Lounge</div>
                <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </div>
                <a href="#" class="link">more</a>
            </div>
            <div class="grid_4 box-1">
                <div class="img-bord"><%= image_tag("page-1_img-2.jpg"); %></div>
                <div class="title-2">Wedding package</div>
                <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </div>
                <a href="#" class="link">more</a>
            </div>
            <div class="grid_4 box-1">
                <div class="img-bord"><%= image_tag ("page-1_img-3.jpg") %></div>
                <div class="title-2">special proposals</div>
                <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </div>
                <a href="#" class="link">more</a>
            </div>
        </div>
    </div>
    <div class="bg-2">
        <div class="container_12">
            <div class="row">
                <div class="grid_4">
                    <h2>most popular info</h2>
                    <ul class="list">
                        <li><a href="#">Restaurants &amp; Bars </a></li>
                        <li><a href="#">Weddings</a></li>
                        <li><a href="#">useful advice</a></li>
                        <li><a href="#">private dining &amp; celebrations</a></li>
                        <li><a href="#">Health &amp; Fitness</a></li>
                        <li><a href="#">hotel photos &amp; videos</a></li>
                        <li><a href="#">Car rentals</a></li>
                    </ul>
                </div>
                <div class="grid_8">
                    <h2>testimonials</h2>
                    <div class="quote">
                        <blockquote><a href="#">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremehae
                        cenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</a></blockquote>
                        <div class="clearfix"> 
                           <%= image_tag("page-1_img-4.jpg"); %>
                            <div>
                                <h3>Alice Puse</h3>
                                <a href="#" class="color-1 h-underline">www.demolink.org</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
