<%= content_for :header_banner do %>
   <div class="bg-1-wrapper"> 
        <%= image_tag("slide-1.jpg", :class => "inside") %>
        <div class="bg-1">
            <h1><%= link_to image_tag("logo.png"), root_url %></h1>
        </div>
    </div>
<% end %>
    <div class="bord-1">
        <div class="container_12">
            <div class="row">
                <div class="grid_8">
                    <h2 class="v2">booking form</h2>
                    <%= form_for :booking, html: { class: "form-1" } do |f| %>
 
                        <fieldset>
                            <span>Arrival:</span>
                            <%= f.text_field :arrival %>
                            <div class="styled-select">
                              <%= select_month(Date.today, field_name: 'month_of_arrival', add_month_numbers: true) %>
                            </div>
                            <div class="styled-select">
                              <%= select_day(Time.now, field_name: 'day_of_arrival') %>
                            </div>
                        </fieldset>
                        <fieldset>
                            <span>Departure:</span>
                              <%= f.text_field :departure %>
                            <div class="styled-select">
                              <%= select_month(Date.today, field_name: 'month_of_departure', add_month_numbers: true) %>
                            </div>
                            <div class="styled-select">
                              <%= select_day(Time.now, field_name: 'day_of_departure') %>
                            </div>
                        </fieldset>
                        <fieldset class="line-3">
                            <span>People :</span>
                            <div class="styled-select">
                              <%= select_tag "people_on_board","<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>More..</option>".html_safe %>
                            </div>
                            <span class="span-2">Animals? </span>
                            <%= f.text_field :animals %>
                        </fieldset>
                    
                        <fieldset>
                            <span>Email :</span>
                              <%= f.text_field :email %>
                            <span class="span-2">Telephone:</span>
                            <%= f.text_field :telephone %>
                        </fieldset>
                     <br style="clear: all;"/>
                     <%= f.submit%>
                    <% end %>
 
                    <h2>book a spa day</h2>
                    <div class="clearfix">
                        <div class="img-bord w1 img-ind"><%= image_tag("page-4_img-1.jpg"); %></div>
                        <div>
                            <p class="text-1 color-3">Ut pharetra augue nec augue</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean innonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            <p class="text-1 color-3">Aenean nonummy hendrerit ac, viverra sed, nulla porta diam eu massa</p>
                            <div>Aenean innonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.nas ridiculus mus ted Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio. gravida at, cursus nec.</div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <h2 class="v2">booking rules</h2>
                    <p class="text-1 color-3">Ut tellus dolor, dapibus eget</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris.</p>
                    <p class="text-1 color-3">Aenean auctor wisiurna</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>
                    <p class="text-1 color-3">Duis ac turpis. Integer rutrum </p>
                    <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris.</div>
                    <h2 class="v3">faqs</h2>
                    <ul class="list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Aenean nonummy hendrerit</a></li>
                        <li><a href="#">porta Fusce suscipit varius miursu</a></li>
                        <li><a href="#">Etiam cursus leo vel metus</a></li>
                        <li><a href="#">Aenean nec eros</a></li>
                        <li><a href="#">Vestibulum ante ipsum primis</a></li>
                        <li><a href="#">In faucibus orci luctus et</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
