<!DOCTYPE html>
    <html lang="en">
    <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/camera.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/superfish.css">
    <link rel="stylesheet" href="font/font-awesome.css">
    <%= stylesheet_link_tag "camera"; %>
    <%= stylesheet_link_tag "style"; %>
    <%= stylesheet_link_tag "superfish"; %>
    <%= stylesheet_link_tag "font-awesome"; %>
   
    <%= javascript_include_tag "jquery"; %> 
    <%= javascript_include_tag "jquery-migrate-1.1.1"; %> 
    <%= javascript_include_tag "script"; %>
    <%= javascript_include_tag "superfish"; %> 
    <%= javascript_include_tag "query.mobilemenu"; %>
    <%= javascript_include_tag "jquery.mobilemenu"; %>
    <%= javascript_include_tag "camera"; %>

    <!--[if (gt IE 9)|!(IE)]><!-->
      <%= javascript_include_tag "jquery.mobile.customized.min' %>
    <!--<![endif]-->
        
    <%= javascript_include_tag "jquery.ui.totop" %>
    <%= javascript_include_tag "TMForm" %>
    <script>
        $(window).load(function() {
            jQuery('#camera_wrap_1').camera({
                height: '40.7%',
                playPause: false,
                time: 8000,
                transPeriod: 1000,
                fx: 'simpleFade',
                loader: 'none',
                minHeight:'150px',
                navigation: false,
                pagination: true,
            });
        })
    </script>

    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
    </head>
    <body class="page-1">
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="index-1.html">About</a>
                            <ul>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Our staff</a></li>
                                <li><a href="#">What’s new?</a>
                                    <ul>
                                        <li><a href="#">Archive</a></li>
                                        <li><a href="#">Fresh news</a></li>
                                    </ul>
                                </li>
                           </ul>
                        </li>
                        <li><a href="index-2.html">Services</a></li>
                        <li><a href="index-3.html">Booking</a></li>
                        <li><a href="index-4.html">Rooms</a></li>
                        <li><a href="index-5.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="bg-1">
        <h1><a href="index.html"><%= image_tag("logo.png")  %></a></h1>
    </div>
</header>

<!--=======content================================-->
<section class="content">
    <div class="slider clearfix">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-src="/assets/slide-1.jpg">
                <div class="camera_caption fadeIn">
                    <div class="container_12">
                        <div class="row">
                            <div class="grid_12">
                                <a href="#" class="s-btn">Book now!<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-src="/assets/slide-2.jpg">
                <div class="camera_caption fadeIn">
                    <div class="container_12">
                        <div class="row">
                            <div class="grid_12">
                                <a href="#" class="s-btn">Book now!<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-src="/assets/slide-3.jpg">
                <div class="camera_caption fadeIn">
                    <div class="container_12">
                        <div class="row">
                            <div class="grid_12">
                                <a href="#" class="s-btn">Book now!<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-src="/asset/slide-4.jpg">
                <div class="camera_caption fadeIn">
                    <div class="container_12">
                        <div class="row">
                            <div class="grid_12">
                                <a href="#" class="s-btn">Book now!<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bord-1">
        <div class="container_12">
            <div class="row">
                <div class="grid_12 bord-2">
                    <div class="title-1">Welcome</div>
                    <h2>We offer you the best hotel with an impressive history</h2>
                    <div class="text-1">Maecenas tristique orci ac sem. Duis ultricies pharetra magna donec accumsan malesuada orci donec sit amet eros sed laoreet 
                    aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_12">
        <div class="row">
            <div class="grid_4 box-1">
                <div class="img-bord"><%= image_tag('page-1_img-1.jpg'); %></div>
                <div class="title-2">hotel Lounge</div>
                <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </div>
                <a href="#" class="link">more</a>
            </div>
            <div class="grid_4 box-1">
                <div class="img-bord"><%= image_tag("page-1_img-2.jpg"); %></div>
                <div class="title-2">Wedding package</div>
                <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </div>
                <a href="#" class="link">more</a>
            </div>
            <div class="grid_4 box-1">
                <div class="img-bord"><%= image_tag ("page-1_img-3.jpg") %></div>
                <div class="title-2">special proposals</div>
                <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu molestie lacus. Aenean in nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </div>
                <a href="#" class="link">more</a>
            </div>
        </div>
    </div>
    <div class="bg-2">
        <div class="container_12">
            <div class="row">
                <div class="grid_4">
                    <h2>most popular info</h2>
                    <ul class="list">
                        <li><a href="#">Restaurants &amp; Bars </a></li>
                        <li><a href="#">Weddings</a></li>
                        <li><a href="#">useful advice</a></li>
                        <li><a href="#">private dining &amp; celebrations</a></li>
                        <li><a href="#">Health &amp; Fitness</a></li>
                        <li><a href="#">hotel photos &amp; videos</a></li>
                        <li><a href="#">Car rentals</a></li>
                    </ul>
                </div>
                <div class="grid_8">
                    <h2>testimonials</h2>
                    <div class="quote">
                        <blockquote><a href="#">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, loremehae
                        cenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</a></blockquote>
                        <div class="clearfix"> 
                           <%= image_tag("page-1_img-4.jpg"); %>
                            <div>
                                <h3>Alice Puse</h3>
                                <a href="#" class="color-1 h-underline">www.demolink.org</a>                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=======footer=================================-->
<footer>
    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <div class="fright ind-1">
                    <ul class="list-services clearfix">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
                <div class="fleft ind-1">
                    <a href="#" class="h-underline">Virginia hotel</a> &copy; <span id="copyright-year"></span> &nbsp; | &nbsp; <a href="index-6.html" class="a-hov color-2">Privacy policy</a>
                    <!--{%FOOTER_LINK} -->
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
